@(message: String)

@main("Sign Ib") {

<div style="margin: auto;margin-top: 150px;width: 350px;height: 262px;text-align: left;">
    <div class="form-signin">

        <div align="center">
            <img align="middle" style="background-color: #dfbb71;padding:5px;"/>
        </div>
        <h4 class="form-signin-heading"
            align="center">VIP CRM</h4>
        <h6 style="color:#FB942D;text-align:center;margin: 0px 0 20px 0;">Production</h6>

        <div id="sectionSelectorPlaceholder">
            <label for="inputUser" class="sr-only">User Name</label>
            <input name="userName" id="inputUser" class="form-control" placeholder="User Id" required autofocus>
            <div class="checkbox mb-3">
            </div>
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <button style="margin-top: 10px" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
    </div>
    <div align="center" style="font-size: 12px; margin-top: 20px">&#169; 2019 by <b>Dream team</b>, IT-Group. All rights reserved (Version: 0.0.1)</div>
</div>

}
